  .custom-grid-item {
      border-radius: 0.375rem;
      color: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .custom-grid-item-1 {
      grid-row-start: 1;
      grid-row-end: 3;
  }

  .custom-grid-item-4 {
      grid-row-start: 1;
      grid-row-end: 3;
      grid-column-start: 3;
  }

  @media (max-width: 600px) {
    .custom-grid-item-4, .custom-grid-item-3, .custom-grid-item-2 {
        display: none;
    }
  }

